/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   /*Mobile Styles*/
   /* General Styles */

html {
     font-size: 16px;
     background-color: #202322;
}

body {
     font-family: 'Open Sans', sans-serif;
     font-size: 1em;
     text-align: left;
     color: #e2e3ed;
}

ul,
ol {
     list-style: none;
}

a {
     color: #e2e3ed;
     text-decoration: none;
}

h1 {
     font-family: 'Poppins', sans-serif;
     font-size: 2.25em;
     font-weight: 300;
     line-height: 1.25;
}

h2 {
     font-family: 'Poppins', sans-serif;
     font-size: 1.875em;
     font-weight: 500;
     line-height: 1.25;
}

h3,
h4 {
     font-family: 'Poppins', sans-serif;
     font-size: 1.125em;
     font-weight: 500;
     margin: 20px 0;
}

p {
     font-size:  .875em;
     line-height: 1.35;
}

img {
     width: 100%;
}

figure {
     margin: 0;
}

address {
     font-style: normal;
}

.content-wrapper {
     width: 90%;
     margin: 50px 0;
}

/*--------------- Base header - footer styles ----------------*/

header,
footer {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
}

/*--------------- Header styles ----------------*/

header {
     padding: 15px 0;
     margin: 0;
}

header .content-wrapper {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
     width: 100%;
     margin: 0;
}

header figure {
     width: 60%;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
     margin-top: 6px;
}

.header-divider {
     width: 100%;
     height: 1px;
     margin: 12px 0;
     background-color: #3a3a3a;
}

header nav {
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-flow: row wrap;
     width: 65%;
     text-transform: uppercase;
     font-size: 1.125em;
     font-weight: 600;
}

header nav ul {
     display: flex;
     justify-content: space-around;
     width: 100%;
     margin: 0;
     padding: 0;
}

header nav ul li {
     font-size: 1.125em;
     margin-left: 0;
     text-align: center;
}

/*--------------- Footer styles ----------------*/

footer {
     text-align: center;
     flex-direction: column;
}

footer .content-wrapper {
     width: 56%;
}

footer h4 {
   margin-top: 0;
}

footer p {
     margin: 0;
}

footer address {
     text-align: center;
     margin-bottom: 45px;
}

footer .social-icons {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

footer .social-icons span {
   font-size: 1.45em;
}

footer .copyright {
     padding: 20px 0;
     text-align: center;
}

/*=============================================================
Home main styles M
=============================================================*/
/*--------------- Hero styles ----------------*/

.hero-area {
     background: url('../img/bridge.jpg') center no-repeat #333;
     background-size: cover;
     overflow: hidden;
     min-height: 500px;
     display: flex;
     justify-content: center;
     flex-flow: row wrap;
}

.hero-area h1 {
     margin-top: 0;
}

/*--------------- Aside newsletter styles ----------------*/

aside {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
     background-color: #527158;
}

aside .content-wrapper {
     margin-top: 5px;
}

aside .form-description h3 {
     margin-bottom: 10px;
     width: 80%;
}

aside .form-description p {
   margin-top: 10px;
}

aside .form {
     margin-top: 30px;
}

aside .form h3 {
   margin-bottom: 15px;
}

input[type=text] {
     box-sizing: border-box;
     width: 100%;
     color: #9d9ea4;
     font-style: italic;
     padding: 20px 1em;
}

input[type=button] {
     box-sizing: border-box;
     width: 100%;
     padding: 20px 0;
     margin-top: 20px;
     background-color: #2a423a;
     font-family: 'Poppins', Helvetica, Arial, sans-serif;
     font-weight: 500;
     font-size: 1.125em;
     color: #e2e3ed;
     border: none;
     text-align: center;
     text-transform: uppercase;
}

/*--------------- Features styles ----------------*/

.features {
     background: url('../img/dark-camp.jpg') center no-repeat #333;
     background-size: cover;
     display: flex;
     justify-content: center;
     flex-flow: row wrap;
}

.features .content-wrapper {
   margin-bottom: 45px;
}

.features h2 {
     text-align: left;
     margin: 0 10px 35px 0;
}

.features .features-items {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
}

.features p {
     margin: 0;
     text-align: center;
}

.features article {
     width: 60%;
     margin: 25px 0;
}

.features i {
     font-size: 4.2em;
     margin-bottom: 40px;
}

.features-items-description {
     margin-top: 40px;
}

/*--------------- Reviews styles ----------------*/

.reviews {
     display: flex;
     justify-content: center;
     flex-flow: row wrap;
     background-color: #2a423a;
}

.reviews h2 {
     margin: 0 0 25px 0;
     line-height: 1;
}

.reviews article figure {
     display: flex;
     justify-content: center;
     align-items: center;
}

.reviews h3 {
     width: 55%;
     margin: 20px 0;
}

.reviews p {
   margin-bottom: 0;
}

/*=============================================================
About main styles M
=============================================================*/
/*--------------- About mission styles ----------------*/

.mission {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
     background-color: #527158;
}

.mission h2 {
   margin: 0;
}

.mission p {
   margin: 18px 0 0 0;
}

/*--------------- About map styles ----------------*/

.map figure {
     position: relative;
     padding-bottom: 125%;
     overflow: hidden;
     height: 0;
     width: 100%;
}

.map iframe {
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 100%;
}

/*--------------- About contact styles ----------------*/

.contact-section {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
     background-color: #2a423a;
}

.contact-section h2 {
   margin: 0;
}

.contact-section h4 {
   margin: 18px 0 0 0;
}

.contact-content p {
     margin: 15px 0 0 0;
}

/*=============================================================
FAQ main styles M
=============================================================*/

.questions {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
     background-color: #527158;
}

.questions .content-wrapper {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: row wrap;
}

.questions h2 {
     margin: 0;
     line-height: 1;
}

.questions-content {
     margin-top: 45px;
}

.questions-content h3 {
     line-height: 1.333;
     margin: 0 0 15px 0;
}

.questions-content p {
   margin: 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
     /*Tablet styles here*/
     /*General*/

     .content-wrapper {
          max-width: 640px;
          margin: 100px 0px;
     }

     h1 {
          font-size: 3em;
          font-weight: 500;
          line-height: 1;
     }

     h2 {
          font-size: 2.25em;
          line-height: 1.333;
     }

     h3 {
          font-size: 1.5em;
          line-height: 1.25;
     }

     h4 {
          font-size: 1.5em;
     }

     /*Header*/

     header {
          padding: 30px 0;
     }

     header .content-wrapper {
          justify-content: space-between;
          width: 100%;
     }

     header figure {
          width: 34%;
     }

     .header-divider {
          display: none;
     }

     header nav {
          width: 20%;
          font-size: 1em;
     }

     header nav ul {
          justify-content: space-between;
     }

     header nav ul li {
        font-size: 1em;
     }

/* ==================================================
          Home page T
=====================================================*/

     /*Hero area styles*/

     .hero-area {
          min-height: 600px;
     }

     .hero-area h1 {
          margin: 0;
     }

     /*Aside newletter styles*/

     aside .content-wrapper {
          display: flex;
          justify-content: space-between;
          margin: 50px 0;
     }

     aside .content-wrapper .form-description {
        width: 40%;
     }

     aside .content-wrapper .form {
          width: 45%;
          margin: 0;
     }

     aside h3 {
        margin: 0 0 20px 0;
     }

     input[type=text] {
         font-size: .875em;
          padding: 12px 1em;
     }

     input[type=button] {
          padding: 12px 0;
       }

     /*Features styles*/

     .features h2 {
          width: 100%;
          margin: 0;
     }

     .features-items {
          justify-content: space-around;
          flex-flow: row wrap;
          margin-bottom: 45px;
     }

     .features article {
          display: flex;
          align-items: center;
          flex-flow: column wrap;
          flex-basis: 50%;
          margin: 40px 0 10px 0;
     }

     .features i {
        font-size: 5em;
        margin-bottom: 30px;
     }

     .features .features-item-description {
          text-align: center;
          width: 62.5%;
     }

     /*Reviews styles*/

     .reviews article {
          display: flex;
          justify-content: space-between;
     }

     .reviews h2 {
          width: 85%;
     }

     .reviews article div {
        width: 48%;
        align-items: flex-start;
     }

     .reviews article figure {
          width: 50%;
         align-items: flex-start;
         overflow: hidden;
     }

     .reviews h3 {
          width: 75%;
          margin: 0;
          padding-top: 0;
     }

     /*Footer styles*/

     footer .content-wrapper {
          width: 66%;
     }

     footer .footer-content {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
     }

     footer h4 {
        margin-bottom: 40px;
     }

     footer .contact {
        margin: 0;
     }

     footer .contact p {
          line-height: 1.285;
     }

     footer .social {
        width: 40%;
     }

     footer .social span {
          font-size: 1.5em;
     }

     footer .copyright {
          width: 100%;
          padding: 0 0 20px 0;
     }

/* ==================================================
          About page T
=====================================================*/

     /*Mission styles*/

     .mission-content {
          display: flex;
          justify-content: space-between;
          align-items: center;
     }

     .mission-content p {
          width: 47%;
          margin-top: 70px;
     }

     /*Map styles*/

     .map figure {
          padding-bottom: 46%;
     }

     /*Contact styles*/

     .contact-section h2 {
          width: 79%;
     }

     .contact-section .contact-content {
          display: flex;
          justify-content: space-between;
     }

     .contact-section h4 {
        margin-top: 50px;
     }

/* ==================================================
          FAQ page T
=====================================================*/

     /*FAQ styles*/

     .questions .content-wrapper {
          justify-content: space-between;
     }

     .questions .questions-content {
          flex-basis: 47%;
          margin-top: 30px;
     }

     .questions h2 {
          width: 100%;
     }

     .questions h3 {
          font-size: .875em;
          line-height: 1.3;
     }

}

/*===================================================
====================================================
==================================================*/

@media only screen and (min-width: 1200px) {
     /*Desktop styles here*/

     .content-wrapper {
          max-width: 960px;
          margin: 100px 0;
     }

     h1 {
          font-size: 3.75em;
     }

     h2 {
          font-size: 2.25em;
     }

     h3, h4 {
          font-size: 1.875em;
     }

     p {
          font-size: 1.125em;
          line-height: 1.35;
     }

     /*Header*/

     header {
          justify-content: space-around;
          padding: 20px 0;
     }

     header figure {
          width: 30%;
     }

     header nav {
          width: 15%;
     }

     header nav ul li {
        font-size: 1.125em;
     }

/*=============================================================
          Home page D
============================================================*/

     /* Hero Styles */

     .hero-area .content-wrapper {
          margin-top: 50px;
     }

     .hero-area h1 {
          width: 70%;
     }

     /*Aside Newsletter Styles */

     aside .content-wrapper {
          justify-content: space-around;
          margin: 50px 0;
     }

     aside .content-wrapper .form-description,
     aside .content-wrapper .form {
          width: 33.333%;
     }

     input[type=text] {
          font-size: 1.125em;
          padding: 15px 1em;
     }

     input[type=button] {
         font-size: 1.5em;
         padding: 14px 0;
      }


     /*Features Styles*/

     .features h2 {
          margin-bottom: 40px;
     }

     .features article {
          flex-basis: 33%;
          margin: 60px 0 0 0;
     }

     .features i {
        font-size: 4em;
        margin-bottom: 30px;
     }

     .features .features-item-description {
          width: 63%;
     }

     /* Reviews Styles */

     .reviews h2{
          width: 75%;
          margin: 0 0 90px 0;
     }

     .reviews article div,
     .reviews article figure {
          height: 300px;
          width: 48%;
     }

     .reviews p {
        margin-top: 15px;
     }

     /*Footer styles*/

     footer .content-wrapper {
          justify-content: space-around;
          width: 88%;
     }

     footer .footer-content {
          margin: 0 60px;
     }

     footer h4 {
        margin: 0 0 35px 0;
     }

     footer .contact p {
          line-height: 1.35;
     }

     footer .social {
        width: 25%;
     }

     footer .social span {
          font-size: 1.15em;
     }

/*=============================================================
          About page D
============================================================*/

     /* Mission Styles */

     .mission h2 {
          width: 97%;
          margin-bottom: 25px;
          font-size: 3em;
     }

     .mission-content p {
          width: 46%;
          margin: 0;
     }

     /*Map styles*/

     .map figure {
          padding-bottom: 38%;
     }

     /* Contact Styles */

     .contact-section h2 {
        width: 100%;
        margin-bottom: 20px;
        font-size: 3em;
     }

     .contact-content h4 {
          margin: 0 0 20px 0;
     }

     .contact-content div {
          width: 46%;
     }

/*=============================================================
          FAQ page D
=============================================================*/

     /* FAQ Styles */

     .questions h2 {
          width: 100%;
          font-size: 3em;
     }

     .questions-content div {
          flex-basis: 44%;
          margin: 20px 0;
     }

     .questions-content h3 {
          font-size: 1.125em;
          line-height: 1;
     }

     .questions-content p {
        line-height: 1;
     }

}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
